body{
    text-align: center;
    margin: 0;
}
 
.top-container{
   background-color: #7FBCD2;
   position: relative;
   padding-top: 100px;
   
}

.cloud1{ 
  position: absolute;
  margin-left: 150px;
}

h1{
    margin-top: 0;
}

hr{
    height: 3px;
    background-color: black;
}
.pro{
    text-decoration: underline;
}

.cloud2{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.mount1{   
}

.middle-container{
    background-color: #7FBCD2;
}

.bottom-container{
    background-color: #F94892;
}

.cooking{
    border-radius: 10%;
}
.photo{
    height: 200px;
    border-radius: 50%;
}